p {
  color: #d3d3d3;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  align-self: auto;
}

h1 {
 font-family: "Roboto", sans-serif;;
 font-size: 2.5em;
}

h2 {
 font-family: "Roboto", sans-serif;;
 font-size: 1.5em;
}

body {
 background-color: #bfffb5;
}

#container {
  width: 95%;
  background-color:#ffffff;
  margin: 0 auto;
}

#nav {
  padding: 0;
}

#nav li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
}

#nav a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #ccb97c;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
  background-color: #ab8771;
}

img {
  border-style: none;
}
