p {
  color: #000000;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 0.8em;
  align-self: auto;
}

header {
 font-family: "David Libre", Georgia, serif;
 font-size: 2.5em;
}

h2 {
 font-family: "PT Serif", Georgia, serif;
 font-size: 1.5em;
}

body {
 background-color: #b0ccb8;
}

#container {
  width: 95%;
  background-color:#ffffff;
  margin: 0 auto;
}

.navigation {
  padding: 0;
}

.navigation li {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  display: flex;
  flex-flow: column;
}

.navigation a:link, a:visited {
  display: block;
  color: #ffffff;
  background-color: #e7a6ff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

.navigation a:hover, a:active {
  background-color: #864acc;
}

@media (min-width:800px){
  .navigation{
    flex-flow: row;
    justify-content: flex-end;
  }
  .navigation a:hover{
    background: black;
  }
  .first{
    margin-right: auto;
  }
}

.header {
  background: tomato;
}

.footer {
  background: salmon;
}

.main {
  background: palevioletred;
  text-align: left;
}

.aside-1 {
  background: lightgray;
}

.aside-2 {
  background: lightgray;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.header, .main, .aside, .footer {
  flex: 1 100%;
  padding: 10px;
}

img{
  width: 100%;
  border-style: none;
}

@media (min-width:800px){
  .aside{
    flex: 1 auto;
  }
  .main{
    flex:3 0px;
  }
  .aside-1{
    order: 1;
  }
  .main{
    order: 2;
  }
  .aside-2{
    order: 3;
  }
  .footer{
    order: 4;
  }
  .main{
    display: flex;
    flex-flow: row;
  }
  img{
    width: 50%;
    height: 150px;
    margin-right: 10px;
  }
}
